.left-bar {
    display: none;
}
.shop {
    width: 85vw;
    margin: 4rem auto 3rem;

} 

.header {
    position: relative;
    height: 50vh;
    background: url(./IMAGES/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__text {
        width: 80%;
        text-align: center;
        text-transform: capitalize;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    &__date {
        position: absolute;
        bottom: 1vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;

    &__item {
        list-style-type: none;

    }
    &__link {
        text-decoration: none;
        color: black;
        background-color: rgba(255, 255, 255, 0.35);
        border-radius: 8px;
        padding: .4rem .6rem;
    }
    &__link.active {
        color: white;
        background-color:  rgba(9, 7, 7, 0.35);
    }
    &__link:hover {
        transition: all .3s ease-in-out;
        color: white;
        background-color:  rgba(9, 7, 7, 0.35);
    }
   
}


// form
.form {
    margin: 3rem auto 1rem; 
    width: 95%;
    padding: 1rem;
    border-left: 3px solid hsla(215, 50%, 68%,.5);
    border-radius: 0.4375rem;
    
    &__wrapper {
        margin: 2rem 0;
    }
    &__wrapper-hidden {
        margin: .7rem 0 0;
    }
    &__message {
        height: 4vh;
        line-height: 4vh;
        padding-left: 1rem;
        border-radius: .4rem;
        display: none;
        background-color: hsla(120, 33%, 44%,.4);
    }
}

#submit {
   padding: .6rem .4rem;
   border: none;
   outline: none;
   text-transform: uppercase;
   background-color: #DACFDD;
   border-radius: 10px;
   font-size: .8rem;
   font-weight: 600;
   margin: 2rem 0 1rem 0;
}

#submit:hover {
   transition: background-color .3s ease-in-out;
   background-color: #bfb3c2;
}



@media only screen and (min-width: 800px) {
   .shop {
       width: 70vw;
       margin: 4rem 3rem 3rem auto;
   }
   
   .left-bar {
       display: block;
       position: fixed;
       left: 0;
       top: 0;
       width: 20vh;
       height: 100vh;
       background-color: hsla(330, 52%, 58%,.4);
   }
}




// BUSSINESS RECORDS
.records {

    &__item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    &__item-heading {
        padding: .2rem 0;
        background-color: burlywood;
    }
}

